doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300,500,700&display=swap")

      style(type='text/css').
        body {
          margin: 0;
          padding: 0;
          font-family: "Quicksand", sans-sérif;
        }
        .wrapper {
          width: 100%;
          height: 100%;
        }

        .content_wrapper {
          width: 90%;
          height: 100%;

          margin: 0 auto;
        }



        img {
          width: auto;
          height: auto;
          display:block;
          max-width: 100%;
        }

        .title {
          font-size: 19px;
          font-weight: 500;
          text-align: center;
          margin-top: 35px;
          margin-bottom: 5px;
        }

        .subtitle {
          font-size: 17px;
          font-weight: 300;
          text-align: center;
          color: #515151;
          margin-top: 5px;
          margin-bottom: 55px;
        }

        .description {
          font-size: 16px;
          font-weight: 300;
          color: #515151;
        }

        .steps {
          display: flex;
          flex-direction: column;
          width: 50%;
          align-items: center;
          margin: 30px auto;
        }

        .card {
          margin: 2%;
          padding: 2% 5%;
          background-color: #fff;

          border-top-left-radius: 40px;
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
        }

        .highlight {
          color: #ff6b00;
          font-weight: 500;
        }
  body
    div.wrapper
      img(src=`cid:@awaks_banner`, alt="awaks_banner")
      
      div.content_wrapper
        h1.title Félicitation ! Vous avez rejoins le dashboard
        p.subtitle Commencez à l'utiliser dès maintenant

        img(src="cid:@dashboard_screenshot", style='border: 1px solid #51515160')

        p.description Bonjour 
          span.highlight #{name}
        p.description Voici vos identifiant, ne les partagez en aucun cas 
        ul
          li.description email : 
            span.highlight #{email}
          li.description mot de passe :
            span.highlight #{password}

        //- p.title(style="margin-bottom: 55px") Comment utiliser le dashboard ? 

        //- div.steps 
        //-   span.icon
        //-     img(src="cid:@lock" style="width: 40px")
        //-   p(style="text-align: center; color: #515151; font-weight: 300") Clôturer vos caisse comme vous en avez l'habitude
        //- div.steps 
        //-   span.icon
        //-     img(src="cid:@send" style="width: 40px")
        //-   p(style="text-align: center; color: #515151; font-weight: 300") Toutes les informations de vôtre journée seront envoyé sur votre espace  

        //- div.steps 
        //-   span.icon
        //-     img(src="cid:@eye" style="width: 40px")
        //-   p(style="text-align: center; color: #515151; font-weight: 300") Consultez les données de votre société  

      img(src="cid:@awaks_footer", alt="awaks_footer")




